p {text-indent:0em;
	font-size:.8em;
	font-family:"Arial","Helvetica","sans-serif";}

ul {list-style-position:inside;
	font-family:"Arial","Helvetica","sans-serif";
	list-style-type: none;}

h1 {font-family:"Arial","Helvetica","sans-serif";
	font-size:2em;
	font-style:bold;}

h2 {font-family:"Arial","Helvetica","sans-serif";
	font-variant:small-caps;
	font-style:bold;
	font-size:1.5em;
	font-style:bold;}

h3 {font-family:"Arial","Helvetica","sans-serif";
	font-variant:small-caps;
	font-style:bold;
	font-size:1.25em;
	font-style:bold;}
	
a:link {text-decoration:none;
	color:black;}

a:visited {color:#ED4F11;
	text-decoration:none;}

a:hover {color:#7c85f6;
	text-decoration:none;}

body {color: black;}

#nav {float:left;
	clear:both;
	min-width:100%;}

#nav li {display: inline;}

	
#nav, .notp {background:#F5F6FA; 
	margin-bottom: 5px;}

#navleft {float:left;}

#navright {float:right;}
	

#login submit {background:red;}

	
.myname {padding-left: 10px;}

#mainmsg p {padding:10px;}

#mvsidenav {float:left;
	background: #F5F6FA;
	width: 140px;}

#frmPatient button {/*width:100%; */
		border-top: 1px solid #F5F6FA;
		border-bottom: 1px solid #F5F6FA;
		border-left: 0;
		border-right: 0;
		margin: 0;
		padding: 2px 0 2px 0;}
		
#frmPatient button:hover {background:#EBEDF2;}

.sidebutton {width:125px;
		height: 50px;
		background: #EBEDF2;
		color: black;
		border: 1px solid white;}

.patBtns {display: inline-block;}

.patBtn {width: 125px;
		background: #F5F6FA;
		color:black;}

.primaryBtnRed {width: 12px;
	background-color: red;
		color:white;}		

.primaryBtnDim {width: 12px;
	background-color: #EBEDF2;
		color:white;}

/*#invite {background: white;
		width: 300px;
		height: 200px;
		position: absolute;
		top:50%;
		left: 50%;
		border: 20px solid gray;
		margin-top: -100px;
		margin-left: -150px;
		padding: 15px;} */
	
#left, #mid, #across, #mvleft, #mvmid, #right{
/*	background:#DAE1F7; */
	padding-left: 10px;
	padding-right: 10px;
/*	margin-left:10px; */ 
/*	border-radius:10px;
	-moz-border-radius:10px; */}

#left, #mvleft{float:left;
	min-width: 200px;
	max-width:32%;}
	
#pvleft {min-width: 125px;
	min-width: 200px;}
	
#mvshowhide {float: left;
	width:150px;
	margin-left: 7px;}
	
#mid , #indexmid, #mvmid{float:left;
	min-width: 200px;
	max-width: 32%;
	border-left: 1px solid #DAE1F7;
	border-bottom: 1px solid #DAE1F7;
	margin-left: 5px;}
	
#right,#across, #mvright {float:left;
	min-width: 250px;
	max-width:50%;
	border-left: 1px solid #DAE1F7;
	padding-left: 10px;
	margin-left: 5px;}
	
#mvright {padding-left: 0px;}
	
#mvmid{float: left;
		padding:10px;
		max-width: 150px;
		min-width: 150px;}

.submit {background: #DAE1F7;
		border:1px solid #DAE1F7;
		border-radius: 3px;}
		
#across{width:450px;}

#status {border-top: 1px solid #E6EAF7; 
	margin-bottom:10px;
	background:#F5F6FA;
	margin-bottom: 10px;
/*	border-radius:10px;
	-moz-border-radius:10px;*/}

#status p {padding:5px 0 3px 10px;}

#statusarea {background:#EBEDF2;
	width:95%;
	padding:4px;}

#message {/* background:#EBEDF2; */
		background: #fcfbff;
		diaplay:block;
		padding:7px 0 10px 0;}


		
#patinfo {font-family:"Arial","Helvetica","sans-serif";
	background:#F5F6FA/*#E6EAF7*/;
	padding:10px 15px 10px 15px;
/*	border-radius:10px;
	-moz-border-radius:10px; */
	margin-bottom:10px;}
 
 
#newpat label,#newpat select {display: block;
	width: 125px;
	float: left;}

#newpat input{display:block;
	width:165px;
	float:left;}

#mainlogin,#mainnewuser {
	padding:10px;
	background:#E6EAF7;
	border-radius:10px;
	-moz-border-radius:10px;}
	
#mainlogin form, #mainnewuser form{background:#E6EAF7;
	padding: 7px;
	border-radius:10px;
	-moz-border-radius:10px;}

#login label , #login select{display:inline-block; 
	/*width:100px; 
	float:left;*/}
	
#login input {display: inline-block;/*
	width:150px;
	float:left;*/
	}

textarea {font-family:"Arial";
	border-radius:10px;
	-moz-border-radius:10px;}

#title {width:200;}
	

#picker, #newpat{float:left;
	clear:both;
	}
	

	
	
.textlab {width:80px;
	display:inline-block;}
	
.vspace {border-bottom:3px;}

#date {float:right;
	padding-right:10px;}	
	

